*{
    margin:0;
    padding:0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    color:white;
}
body{
    height:100%;
    width:100%
}
.main{
    height:100vh;
    width: 100%;
    display:grid;
    place-items: center;
}
video {
    height:100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}
.card{
    position:absolute;
    width:90%;
    max-width: 470px;
    background: linear-gradient(135deg, #64e6f0, #06276f);
    /* margin:100px auto 0; */
    top:15%;
    border-radius: 20px;
    padding: 40px 35px;
    text-align:center;
    z-index:1;
}
.search{
    width:100%;
    align-items: center;
    justify-content: space-between;
    display:flex;
}
.search input{
    border:0;
    outline:0;
    background: #ebfffc;
    color: #555;
    padding:10px 25px;
    height: 50px;
    border-radius: 30px;
    flex:1;
    margin-right:16px;
    font-size:18px;
}
.search button{
    border: 0;
    outline:0;
    background:#ebfffc;
    border-radius:50%;
    width:50px;
    height:50px;
    cursor:pointer;
}
.search button img{
    width:18px;
}
.error{
    text-align:left;
    margin-left:15px;
    font-weight:200;
    font-size:15px;
    margin-top:8px;
    display:none;
}
.error p{
    color:#fff(201, 39, 39);
}
.weather-icon{
    width:150px;
    margin-top:15px;
}
.weather h1{
    font-size:65px;
    font-weight:500;
}
.weather h2{
    font-size:45px;
    font-weight:400;
    margin-top:-10px;
}
.details{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 20px;
    margin-top:50px;
    /* background-color: #5b548a; */
}
.col{
    display:flex;
    align-items:center;
    text-align:left;
}
.col img{
    width:40px;
    margin-right:10px
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display:none;
}